@page "/"

<PageTitle>Octothorpe</PageTitle>

<h1>Welcome to octothorpe!</h1>

<p>
    <strong>octothorpe</strong> <i class='text-primary'>noun</i> : the symbol #
</p>
<p>
    This is my little developer corner of the internet,
    a place where I can create nerdy little tools that are
    usful to me and hopefully others as well.
</p>